*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

ul{
    padding: 0px;
    list-style-type: none;
    border: 5px solid black;
}
 
li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border: 5px solid blue;
    border-radius: 5px;

}

.container{
    display: grid;
    height: 500px;

    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);

    align-items: stretch;
}

li:nth-child(1){ align-self: center;}

